@model IEnumerable<TopLearn.DataLayer.Entities.Order.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> فاکتورها </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        <div class="inner form-layer">
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderSum)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsFinaly)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderSum)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsFinaly)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        </section>
        </div>
    </div>

    </div>
</main>